.App {
  text-align: center;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}
.calcul{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
  border-radius: 10px;
}
input{
  width: 15vw;
  height: 5vh;
  margin-bottom: 2vh;
}
.Buttons{
  display: flex;
  gap: 1vw;
}
button{
  background-color: black;
  color: white;
  border: none;
  font-size:x-large;
  width: 3vw;
  height: 5vh;
}
p{
  color: red;
  font-weight: bold;
}